* {
  color: white;
}

input {
  color: black;
}

#ywc-logo {
  width: 180px;
}

.queue-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2em;
}

@media (max-width: 780px) {
  .queue-container {
    grid-template-columns: 1fr;
  }
}

#branch {
  font-size: 40px;
  text-decoration: underline;
}

#on-screen {
  background: black;
  color: white;
  padding: 0 0.5em;
  font-size: 40px;
}

input {
  font-size: 50px !important;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  border: thin solid gray;
  border-radius: 8px;
}

button {
  background: seagreen;
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 8px;
  padding: 0.25em 1em;
  cursor: pointer;
  margin-top: 0.5em;
}

.center {
  margin: auto;
  max-width: 600px;
}

.logo-container {
  display:flex;
  justify-content: center;
  margin: 2em auto;
}

.qr-container--admin > .qr-code-wrapper {
  width:150px;
}

.qr-container--admin {
  max-width: 960px;
  margin: 50px auto;
  display: grid;
  grid-template-columns: 150px auto;
  grid-gap: 1.5em;
}