@font-face {
  font-family: "Maledpan";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Maledpan-Regular.otf) format("opentype");
}

@font-face {
  font-family: "Maledpan";
  font-style: bold;
  font-weight: 700;
  src: url(../fonts/Maledpan-Bold.otf) format("opentype");
}

* {
  font-family: "Maledpan", sans-serif;
  font-weight: bold;
  box-sizing: border-box;
}

body {
  padding: 0 3em;
  min-height: 100vh;
  background: #061625;
  /* background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), linear-gradient(49.41deg, #C73884 7.27%, #E13C6F 51.46%, #9B308E 95.22%); */
  background-attachment: fixed;
  background-position: center;
}

footer {
  text-align: center;
  margin-top: 2em;
  color: rgba(255, 255, 255, 0.7);
}

footer a {
  color: white;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  /* text-align: center; */
  margin: 4em 0;
}

.qr-container {
  max-width: 960px;
  display: grid;
  grid-template-columns: auto 150px;
  grid-gap: 1.5em;
}

.qr-container > div {
  align-self: center;
}

.qr-container > div:first-child {
  text-align: end;
}

.qr-container > div:last-child {
  display: inline-block;
}

.qr-code-wrapper img {
  border-radius: 10px;
  width: 100%;
  box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.25);
}

.invite-text {
  color: white;
  font-size: 24px;
  margin: 0;
}

.queue-link {
  color: white;
  font-size: 48px;
  text-decoration: none;
}

.logo > img {
  width: 100%;
  max-width: 300px;
  padding: 1em 0;
}

.body-container {
  display: grid;
  grid-template-columns: 4fr 1.5625fr;
  grid-gap: 1vw;
  justify-content: center;
}

.body-container.sponsor-layout {
  display: grid;
  grid-template-columns: 1fr 4.0625fr;
  grid-gap: 1vw;
  justify-content: center;
}

.body-container.sponsor-layout .branch-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

  margin-right: 15px;
}

.body-container.sponsor-layout .branch-container img {
  width: 120px !important;
  margin-right: 30px;
}

.branch-container img {
  width: 180px;
}

.body-container:not(.sponsor-layout) .branch-container .branch-name {
  font-size: 1.4em;
  margin-top: 20px;
}

.body-container:not(.sponsor-layout) .branch-container .current-queue-text {
  font-weight: 300;
}

.body-container.sponsor-layout .branch-card {
  flex-direction: row;
  height: 160px;
  width: 382px;
  width: 100%;

  padding: 20px 15px;
}

.body-container.sponsor-layout .branch-card h3,
.body-container.sponsor-layout .branch-card span {
  margin: 0;
  font-size: 1em;
}

.body-container.sponsor-layout .branch-card h1 {
  margin: 0;
}

.body-container.sponsor-layout .branch-card img {
  width: 120px;
  height: 90px;
}

.branch-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1vw;
  justify-content: center;
}

.branch-card,
.sponsors {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 50vh;
  /* border-radius: 10px; */
  padding: 0.75rem;
  text-align: center;
  cursor: pointer;
  box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.25);
  background-color: #fff;
}

.body-container:not(.sponsor-layout) .sponsors {
  width: 100%;
  max-width: 400px;
}

.sponsors {
  height: 70vh;
}

.sponsors > div:not(:last-child) {
  margin-bottom: 20px;
}

.branch-card > div {
  width: 100%;
}

.branch-card > div:first-child {
  position: relative;
}

.branch-card > div:first-child > h3 {
  /* position: absolute; */
  bottom: 0;
  left: 0;
  right: 0;
}

/* .branch-card img {
    box-sizing: border-box;
    flex: 1;
  } */

.branch-card h3 {
  font-weight: bold;
}

.branch-name {
  font-size: 2px;
  margin-bottom: 0.25em;
}

/* .color-content {
    color: #E73239 !important;
  } */

.color-content-dark {
  color: #e73239 !important;
}

/* .color-programming {
    color: #78c8f4 !important;
  } */

.color-programming-dark {
  color: #1451c7 !important;
}

/* .color-designer {
    color: #f7c778 !important;
  } */

.color-designer-dark {
  color: #e3982f !important;
}

/* .color-marketing {
    color: #f797aa !important;
  } */

.color-marketing-dark {
  color: #00c32b !important;
}

.color-purple {
  color: #6d65ac !important;
}

.color-purple-dark {
  color: #554e90 !important;
}

.current-queue-text {
  font-size: 26px;
  font-weight: normal;
  margin-bottom: 0.25em;
}

.current-queue {
  font-size: 60px;
  line-height: 1em;
  margin: 0.25em 0;
}

.next-queue-text {
  font-size: 25px;
}

.sponsors img {
  height: 100%;
}

.sponsor-header {
  display: flex;
  color: #ff5d29;
  justify-content: center;
  padding: 0.5em 0;
  width: 100%;
  margin-top: 20px;
}

.sponsor-header > h3 {
  font-size: 32px;
  margin-right: 45px;
}

.sponsor-header > img {
  height: 60px;
  object-fit: cover;
}

.vip-1 {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.vip-2 {
  width: 100%;
  max-width: 500px;
  height: 100px;
  display: flex;
  justify-content: space-around;
}

.vip-2 img {
  width: 200px;
  object-fit: cover;
}

.vip-2 img:nth-child(2) {
  width: 600px;
}

.gold {
  height: 80px;
  width: 100%;
  max-width: 750px;
  display: flex;
  justify-content: space-around;

  margin-top: 10px;
}

.gold img {
  width: 180px;
  object-fit: cover;
}

.body-container:not(.sponsor-layout) {
  .branch-container > .branch-card {
    height: 60vh;
  }
  .gold img,
  .silver img {
    max-width: 100%;
    object-fit: contain;
  }
}

.body-container:not(.sponsor-layout) .sponsors {
  height: 60vh;
  padding-bottom: 50px;

  .sponsor-header {
    .branch-name {
      margin-right: 0;
    }
    .ywc-logo {
      display: none;
    }
  }
}
.body-container:not(.sponsor-layout) .sponsors {
  .vip-group,
  .gold {
    margin: 0;
  }
}

.body-container:not(.sponsor-layout) .sponsors .vip-2 {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 0 16px;
  .depa {
    width: 105px;
    object-fit: contain;
  }
  .scb-academy {
    width: 220px;
    max-width: 220px;
    object-fit: contain;
  }
}
.body-container .sponsors .vip-2 {
  img {
    object-fit: contain;
  }
  .depa {
    width: 250px;
  }
  .scb-academy {
    width: 280px;
    max-width: 280px;
    object-fit: fill;
  }
}
.body-container.sponsor-layout .sponsors .vip-group {
  .vip-1,
  .vip-2 {
    transform: scale(1.1);
  }
  .vip-1 {
    margin-right: 32px;
  }
  margin-bottom: 40px;
}
.body-container.sponsor-layout .sponsors .gold {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 0px 40px;
  transform: scale(0.75);
  .brikl {
    width: 264px;
  }
  .thairath {
    width: 226px;
  }
  .lmwn {
    width: 200px;
  }
}
.body-container.sponsor-layout .sponsors .silver {
  display: grid;
  grid-template-columns: repeat(6, auto);
  transform: scale(0.8);
  gap: 0px 40px;
  .camphub {
    width: 164px;
  }
  .easyrice {
    width: 94px;
  }
  .pantip {
    width: 110px;
  }
  .rainmaker {
    width: 69px;
  }
  .cpall {
    width: 100px;
  }
  .pant {
    width: 146px;
  }
}
.body-container:not(.sponsor-layout) .sponsors .silver {
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: repeat(3, auto);
  gap: 4px 10px;
  max-width: 290px;
  transform: scale(0.9);
  .camphub {
    width: 90px;
  }
  .easyrice {
    width: 56px;
  }
  .pantip {
    width: 60px;
  }
  .rainmaker {
    width: 38px;
  }
  .cpall {
    width: 56px;
  }
  .pant {
    width: 81px;
  }
}
.body-container:not(.sponsor-layout) .sponsors .gold {
  display: grid;
  grid-template-columns: repeat(3, auto);
  transform: scale(0.8);
  .brikl {
    width: 135px;
  }
  .thairath {
    width: 115px;
  }
  .lmwn {
    width: 101px;
  }
}

.silver {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100px;
  max-width: 800px;

  margin-top: 10px;

  /* display: grid; */
  /* grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 50%); */
  /* height: 180px; */
  /* max-width: 90%; */
  /* margin-top: 50px; */
}

.silver img {
  width: 90px;
  /* max-width: 180px; */
  /* max-width: 100px; */
  object-fit: cover;
}

.vip-group {
  display: flex;
}

.body-container:not(.sponsor-layout) .branch-card {
  padding: 200px 0px;
}

.body-container:not(.sponsor-layout) .sponsors .vip-1 img {
  max-width: 250px;
}

.body-container:not(.sponsor-layout) .sponsors .vip-2 img {
  max-width: 180px;
}

.body-container:not(.sponsor-layout) .vip-group {
  display: block;
}

.body-container:not(.sponsor-layout) .branch-name {
  font-size: 1.8em;
}

@media (max-width: 900px) {
  .header {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  body {
    padding: 0 1em !important;
  }

  .body-container {
    // max-width: 400px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }

  .branch-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .branch-card {
    border-radius: 15px;
  }

  .branch-card > div {
    width: 100% !important;
  }

  .branch-name {
    font-size: 0.9em !important;
  }

  .branch-container {
    width: 100%;
  }

  .branch-card {
    margin-bottom: 30px;
  }

  .sponsors {
    display: none;
  }

  .branch-card {
    width: 100%;
  }

  // .body-container:not(.sponsor-layout) {
  //   .branch-container > .branch-card {
  //     height: 12rem;
  //     padding: 0;
  //   }
  // }
}


/* mobile */
@media (max-width: 780px) {
  .branch-container {
    grid-template-columns: repeat(1, 1fr) !important;
  }
  .branch-card {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .branch-card > div {
    width: 40%;
  }
  .branch-card > div:first-child {
    min-height: auto;
  }
  .branch-card > div:first-child > h3 {
    position: static;
  }
  .current-queue {
    font-size: 40px;
  }
  .branch-name {
    font-size: 14px;
    margin-bottom: 0.25em;
  }
  .branch-card img {
    max-height: 80px;
    margin: 0 !important;
  }

  .qr-container {
    display: none;
  }

  .body-container:not(.sponsor-layout) {
    .branch-container > .branch-card {
      height: 12rem;
      padding: 0;
    }
  }
}